fieldset{margin-top:5%;
margin-left:35%;
margin-right:40% ;
width: 500px;
font-weight: bold;
color:navy;
background-image: url(https://images.unsplash.com/photo-1620648378507-4ad3fac3bb51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTB8fGRvY3RvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);}
label{
width:100px;
    display:inline-block;}
    input[type="text"]{padding:10px;
    width:50%;}
    button{
        width:50%;
        margin-left: 25%;
        color:white;
        padding:10px;
    background-color:navy;}
    select{width: 55%;
    padding:10px;}
    body{background-image: url(https://images.unsplash.com/photo-1603807008857-ad66b70431aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fGRvY3RvcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);}